<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BlueSky后台管理系统</title>
    <load href='__PUBLIC__/jquery-easyui-1.4.1/themes/default/easyui.css' />
    <load href='__PUBLIC__/jquery-easyui-1.4.1/themes/icon.css' />
    <load href='__PUBLIC__/jquery-easyui-1.4.1/jquery.min.js' />
    <load href='__PUBLIC__/jquery-easyui-1.4.1/jquery.easyui.min.js' />
    <load href='__PUBLIC__/jquery-easyui-1.4.1/locale/easyui-lang-zh_CN.js' />
    <load href='__PUBLIC__/js/validatebox.js' />
</head>
<body class="easyui-layout">
<div data-options="region:'north'" style="height:50px;padding-left: 50px;overflow: hidden;">
    <div style="float: left;width: 50%;"><h2>BlueSky后台管理系统</h2></div>
    <div style="float: right;width: 48%;margin-top:30px;padding-right: 20px;text-align: right;">欢迎您，{$user["truename"]}<span style="padding-left: 20px;"><a href="loginOut" style="text-decoration:none;">【注销】</a></span><span style="padding-left: 20px;"><a href="javascript:changPassword();" style="text-decoration:none;">【修改密码】</a></span></div>
</div>
<!--<div data-options="region:'south',split:true" style="height:50px;"></div>
<div data-options="region:'east',split:true" title="East" style="width:180px;">
    <ul class="easyui-tree" data-options="url:'tree_data1.json',method:'get',animate:true,dnd:true"></ul>
</div>-->
<div id="divMenu" data-options="region:'west',split:true" title="目录" style="width:180px;">
</div>
<div data-options="region:'center'">
    <div id="divTabs" class="easyui-tabs" data-options="fit:true,border:false,plain:true">
        <!--<div title="About" data-options="href:'_content.html',closable:true" style="padding:10px"></div>-->
        <!--<div title="DataGrid" data-options="closable:true" style="padding:5px">-->
            <!--<table class="easyui-datagrid"-->
                   <!--data-options="url:'datagrid_data1.json',method:'get',singleSelect:true,fit:true,fitColumns:true">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th data-options="field:'itemid'" width="80">Item ID</th>-->
                    <!--<th data-options="field:'productid'" width="100">Product ID</th>-->
                    <!--<th data-options="field:'listprice',align:'right'" width="80">List Price</th>-->
                    <!--<th data-options="field:'unitcost',align:'right'" width="80">Unit Cost</th>-->
                    <!--<th data-options="field:'attr1'" width="150">Attribute</th>-->
                    <!--<th data-options="field:'status',align:'center'" width="50">Status</th>-->
                <!--</tr>-->
                <!--</thead>-->
            <!--</table>-->
        <!--</div>-->
    </div>
</div>
<!--<div id="divChangePassword"></div>-->
<script>
    function addTab(title,url){
        if(!$('#divTabs').tabs('exists',title)) {
            $('#divTabs').tabs('add', {
                title: title,
                href: url,
                closable: true
            });
        }else{
            $('#divTabs').tabs('select',title).selected();
        }
    }
    function changPassword(){
        if(document.getElementById("divChangePassword") == null) {
            $(document.body).append("<div id='divChangePassword'></div>");
        }
        $("#divChangePassword").dialog({
            title: '修改密码',
            iconCls: "icon-edit",
            //collapsible: true,
            minimizable: true,
            maximizable: true,
            resizable: true,
            width: 420,
            height: 220,
            modal: true,
            href:'changePassword'
        });
    }
    $(document).ready(function(){
        //加载目录
        $.ajax({
            type:'get',
            url:'menu',
            success:function(data){
                $('#divMenu').html(data);
                $.parser.parse('#divMenu');
            }
        });
    });
</script>
</body>
</html>