<div class="easyui-accordion" data-options="fit:true,border:false">
    <foreach name="menu" item="item">
        <div title='{$item["title"]}' style="padding:10px;">
            <ul class="easyui-tree" id='mt_{$item["id"]}' ></ul>
        </div>
    </foreach>
</div>
<input type="hidden" id="hfMenu" value='{$menuJson}'/>
<script>
    $.parser.onComplete = function(){
        var menus = $.parseJSON($("#hfMenu").val());
        //加载菜单树
        $(menus).each(function (i,val) {
            $("#mt_" + val.id).tree({data:val.children,animate:true,lines:false,onClick: function (node) {
                //父节点单击展开或收起
                if(!$(this).tree('isLeaf', node.target)){
                    if (node.state == 'closed'){
                        $(this).tree('expand', node.target);
                    }else{
                        $(this).tree('collapse', node.target);
                    }
                }else if(node.attributes.url != ""){
                    //子节点单击打开新Tab页面
                    addTab(node.text,node.attributes.url);
                }
            }});
        });
    };
</script>