<!--<link rel="stylesheet" href="../../../../Public/jquery-easyui-1.4.1/themes/default/easyui.css" />-->
<table id="dg" class="easyui-datagrid" title="用户管理" style="height:auto;width: 95%;"
       data-options="
				iconCls: 'icon-edit',
				singleSelect: false,
				toolbar: '#tb',
				url: '__APP__/Admin/System/userList',
				method: 'get',
				onClickRow: onClickRow,
				pagination:true,
				rownumbers:true,
				fit: true
			">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'id',align:'center'">ID</th>
        <th data-options="field:'nickname',editor:'textbox'" sortable="true">呢称</th>
        <th data-options="field:'email',editor:'textbox'">邮箱</th>
        <th data-options="field:'mobile',editor:'textbox'">手机</th>
        <th data-options="field:'truename',editor:'textbox'">姓名</th>
        <th data-options="field:'password',editor:'textbox'">密码</th>
        <th data-options="field:'score',align:'right',editor:{type:'numberbox',options:{precision:0}}">积分</th>
        <th data-options="field:'createtime',editor:'datetimebox'">注册时间</th>
        <th data-options="field:'lasttime',editor:'datetimebox'">最后登录时间</th>
        <th data-options="field:'state',align:'center',editor:{type:'checkbox',options:{on:'1',off:'0'}}">状态</th>
    </tr>
    </thead>
</table>

<div id="tb" style="height:auto">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true"
       onclick="append()">添加用户</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true"
       onclick="removeit()">删除用户</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true"
       onclick="accept()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true"
       onclick="reject()">取消</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true"
       onclick="getChanges()">GetChanges</a>
</div>

<script type="text/javascript">
    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) {
            return true
        }
        if ($('#dg').datagrid('validateRow', editIndex)) {
            $('#dg').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }
    function onClickRow(index) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#dg').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                editIndex = index;
            } else {
                $('#dg').datagrid('selectRow', editIndex);
            }
        }
    }
    function append() {
        if (endEditing()) {
            $('#dg').datagrid('appendRow', {state: '1'});
            editIndex = $('#dg').datagrid('getRows').length - 1;
            $('#dg').datagrid('selectRow', editIndex)
                    .datagrid('beginEdit', editIndex);
            $('#dg').datagrid('uncheckRow', editIndex);
        }
    }
    function removeit() {
//        if (editIndex == undefined) {
//            return
//        }
//        $('#dg').datagrid('cancelEdit', editIndex)
//                .datagrid('deleteRow', editIndex);
//        editIndex = undefined;
        $dg = $("#dg");
        var selections = $dg.datagrid("getSelections");
        if(selections.length == 0){
            $.messager.alert("提示", "请选择要删除的会员！", "info");
            return;
        }
        var i= selections.length-1;
        for(;i>=0;i--){
            var ri = $dg.datagrid("getRowIndex",selections[i]);
            $dg.datagrid('deleteRow', ri);
        }
        $dg.datagrid("clearSelections");
    }
    function accept() {
        if (endEditing()) {
            if ($('#dg').datagrid('getChanges').length) {
                $dg = $('#dg');
                var inserted = $dg.datagrid('getChanges', "inserted");
                var deleted = $dg.datagrid('getChanges', "deleted");
                var updated = $dg.datagrid('getChanges', "updated");

                var effectRow = new Object();
                if (inserted.length) {
                    effectRow["inserted"] = JSON.stringify(inserted);
                }
                if (deleted.length) {
                    effectRow["deleted"] = JSON.stringify(deleted);
                }
                if (updated.length) {
                    effectRow["updated"] = JSON.stringify(updated);
                }

                $.post("__APP__/Admin/System/userCommit", effectRow, function (rsp) {
                    if (rsp.state == 1) {
                        //$.messager.alert("提示", "提交成功！");
                        $.messager.alert("提示", "提交成功！插入：" + rsp.inserts + "条，更新：" + rsp.updates + "条,删除：" + rsp.deletes + "条", "info", function () {
                            $dg.datagrid('acceptChanges');
                            $dg.datagrid("reload");
                        });
                    } else {
                        $.messager.alert("提示", rsp.msg, "error");
                    }
                }, "JSON").error(function () {
                    $.messager.alert("提示", "提交错误了！", "error");
                });
            }
        }
    }
    function reject() {
        $('#dg').datagrid('rejectChanges');
        editIndex = undefined;
    }
    function getChanges() {
        var rows = $('#dg').datagrid('getChanges');
        alert(rows.length + ' rows are changed!');
    }
</script>