<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north'" style="height:auto;overflow: hidden;">
        <div>
            <form id="form_search" class="easyui-form">
                <table cellpadding="5">
                    <tr>
                        <td>呢称：</td>
                        <td><input class="easyui-textbox" type="text" name="txtnickname"/></td>
                        <td>邮箱：</td>
                        <td><input class="easyui-textbox" type="text" name="txtemail"/></td>
                        <td>手机：</td>
                        <td><input class="easyui-textbox" type="text" name="txtmobile"/></td>
                        <td>姓名：</td>
                        <td><input class="easyui-textbox" type="text" name="txttruename"/></td>
                        <td rowspan="2">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search"
                               onclick="searchUsers()">查询</a>
                        </td>
                    </tr>
                    <tr>
                        <td>积分：</td>
                        <td colspan="7"><input class="easyui-numberbox" type="text" name="txtscore1"/>-<input
                                class="easyui-numberbox" type="text" name="txtscore2"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div data-options="region:'center'">
        <table id="dg" class="easyui-datagrid" title="用户管理" style="height:auto;width: 95%;"
               data-options="
				iconCls: 'icon-edit',
				singleSelect: false,
				toolbar: '#tb',
				url: '__APP__/Admin/System/userList',
				method: 'post',
				onClickRow: onClickRow,
				pagination:true,
				rownumbers:true,
				fit: true,
				checkOnSelect: false
			">
            <thead>
            <tr>
                <th data-options="field:'ck',checkbox:true"></th>
                <th data-options="field:'id',align:'center'" sortable="true">ID</th>
                <th data-options="field:'nickname',editor:'textbox'" sortable="true">呢称</th>
                <th data-options="field:'email',editor:{type:'textbox',options:{validType:'email'}}" sortable="true">
                    邮箱
                </th>
                <th data-options="field:'mobile',editor:{type:'numberbox',options:{precision:0}}" sortable="true">手机
                </th>
                <th data-options="field:'truename',editor:'textbox'" sortable="true">姓名</th>
                <th data-options="field:'password',editor:{type:'textbox'}" sortable="true">密码</th>
                <th data-options="field:'score',align:'right',editor:{type:'numberbox',options:{precision:0}}"
                    sortable="true">积分
                </th>
                <th data-options="field:'createtime',editor:'datetimebox'" sortable="true">注册时间</th>
                <th data-options="field:'lasttime',editor:'datetimebox'" sortable="true">最后登录时间</th>
                <th data-options="field:'state',align:'center',editor:{type:'checkbox',options:{on:'1',off:'0'}}"
                    sortable="true">状态
                </th>
            </tr>
            </thead>
        </table>
        <div id="tb" style="height:auto">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true"
               onclick="append()">添加用户</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true"
               onclick="removeit()">删除用户</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true"
               onclick="accept()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true"
               onclick="reject()">取消</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true"
               onclick="getChanges()">GetChanges</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) {
            return true
        }
        if ($('#dg').datagrid('validateRow', editIndex)) {
            //验证  邮箱、手机、呢称必须填一个
            $dg = $('#dg');
            var nickname = $($dg.datagrid('getEditor', {index: editIndex, field: 'nickname'}).target).val();
            var email = $($dg.datagrid('getEditor', {index: editIndex, field: 'email'}).target).val();
            var mobile = $($dg.datagrid('getEditor', {index: editIndex, field: 'mobile'}).target).val();
            if (nickname == "" && email == "" && mobile == "") {
                $.messager.alert("提示", "亲，呢称、邮箱、手机必须填一个哦！", "error");
                return false;
            }
            $dg.datagrid('endEdit', editIndex).datagrid("unselectRow", editIndex);
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }
    function onClickRow(index) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#dg').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            } else {
                $('#dg').datagrid('selectRow', editIndex);
            }
        }
    }
    function append() {
        if (endEditing()) {
            $('#dg').datagrid('appendRow', {state: '1'});
            editIndex = $('#dg').datagrid('getRows').length - 1;
            $('#dg').datagrid('selectRow', editIndex)
                    .datagrid('beginEdit', editIndex);
            $('#dg').datagrid('uncheckRow', editIndex);
        }
    }
    function removeit() {
        //删除当前编辑行
//        if (editIndex == undefined) {
//            return
//        }
//        $('#dg').datagrid('cancelEdit', editIndex)
//                .datagrid('deleteRow', editIndex);
//        editIndex = undefined;
        //删除当前选中行
//        $dg = $("#dg");
//        var selections = $dg.datagrid("getSelections");
//        if(selections.length == 0){
//            $.messager.alert("提示", "请选择要删除的会员！", "info");
//            return;
//        }
//        var i= selections.length-1;
//        for(;i>=0;i--){
//            var ri = $dg.datagrid("getRowIndex",selections[i]);
//            $dg.datagrid('deleteRow', ri);
//        }
//        $dg.datagrid("clearSelections");
        //删除当前勾选行
        $dg = $("#dg");
        var checks = $dg.datagrid("getChecked");
        if (checks.length == 0) {
            $.messager.alert("提示", "请选择要删除的会员！", "info");
            return;
        }
        var i = checks.length - 1;
        for (; i >= 0; i--) {
            var ri = $dg.datagrid("getRowIndex", checks[i]);
            if (ri == editIndex) {
                $dg.datagrid('endEdit', ri).datagrid('deleteRow', ri);
                editIndex = undefined;
            }else{
                $dg.datagrid('deleteRow', ri);
            }
        }
    }
    function accept() {
        if (endEditing()) {
            if ($('#dg').datagrid('getChanges').length) {
                $dg = $('#dg');
                var inserted = $dg.datagrid('getChanges', "inserted");
                var deleted = $dg.datagrid('getChanges', "deleted");
                var updated = $dg.datagrid('getChanges', "updated");

                var effectRow = new Object();
                if (inserted.length) {
                    effectRow["inserted"] = JSON.stringify(inserted);
                }
                if (deleted.length) {
                    effectRow["deleted"] = JSON.stringify(deleted);
                }
                if (updated.length) {
                    effectRow["updated"] = JSON.stringify(updated);
                }

                $.post("__APP__/Admin/System/userCommit", effectRow, function (rsp) {
                    if (rsp.state == 1) {
                        //$.messager.alert("提示", "提交成功！");
                        $.messager.alert("提示", "提交成功！插入：" + rsp.inserts + "条，更新：" + rsp.updates + "条,删除：" + rsp.deletes + "条", "info", function () {
                            $dg.datagrid('acceptChanges');
                            $dg.datagrid("reload");
                        });
                    } else {
                        $.messager.alert("提示", rsp.msg, "error");
                    }
                }, "JSON").error(function () {
                    $.messager.alert("提示", "提交错误了！", "error");
                });
            }
        }
    }
    function reject() {
        $('#dg').datagrid('rejectChanges');
        editIndex = undefined;
    }
    function getChanges() {
        var rows = $('#dg').datagrid('getChanges');
        alert(rows.length + ' rows are changed!');
    }
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    function searchUsers() {
        $("#dg").datagrid("reload", $('#form_search').serializeObject());
    }
</script>